@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body{
    background-color: black;
}
header{
    background-color: #e53617;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    z-index: 2;
    position: fixed;
}

/* estilização do botão do menu */
.toggle{
    background-color: #e53617;
    color: white;
    position: fixed;
    left: 10px;
    z-index: 4;
    border: none;
    cursor: pointer;
    transition: all ease 0.6s;
}
.toggle:hover{
    background-color:rgba(165, 42, 42, 0.329) ;
}
.toggle.ativo{
    left: 320px;
    background-color: brown;
}
/* Estilização da side bar */

.side_bars{
    position: fixed;
    left: -302px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #e53617;
    z-index: 3;
    box-shadow: 2px 1px 2px black;
    transition: all 0.5s ease;
}

.side_bars.ativo{
    left: 0;
}

.side_bars ul{
    list-style-type: none;
    padding: 0;
    margin: 60px 0 0 0;
}

.side_bars ul li{
    padding: 14px 30px;
}

.side_bars ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.side_bars ul li a i{
    font-size: 20px;
}

.side_bars ul li:hover{
    background-color: rgba(165, 42, 42, 0.226);
}

/* estilização do background quando a barra lateral estiver ativa*/
.background{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.295);
    visibility: hidden;
    transition: all ease 0.5s;
}
.background.ativo{
    visibility: visible;
}

/* logo*/
#logo{
    position: fixed;
    right: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
}  
#logo a{
    text-decoration: none;
    color: white;
    transition: all ease-in 0.5s;
}  
#logo a:hover{
    font-size: 18px;
    transition: all ease-in 0.5s;
}

/* foto introdução */

#intro{
    background-image:url('../img/intro/intro-foto.png');
    background-size: cover;
    min-height: 450px;
    width: 100%;
    background-position: right center;
    background-attachment: fixed;
}


#h1_intro{
    color: white;
    padding-top: 200px;
    margin: 0px 20px 0px 5px;
    text-shadow: 1px 2px 3px black;
}



.intro-2{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.intro-2 h2{
    color: white;
    padding: 13px 0 0 0;

}
/*estilização das opções de motos*/

.motos{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.modelo_moto{
    background-color: black;
    width: 300px;
    height: 300px;
    border: solid rgba(165, 42, 42, 0.699);
    margin-top: 50px;
    
}



/*estilizar as divs por moto*/

#himalayan{
    background-image: url(../img/motos/himalayan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#himalayan:hover{
    background-size: 120%;
}

.txt-moto{
    position:absolute;
    color: rgb(0, 0, 0);
    bottom: 0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    text-align: center;
    background-color: rgb(209, 207, 207);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: ease 0.5s;
}

#himalayan:hover #txt-himalayan{
    visibility: visible;
    opacity: 1;
}

#shotgun{
    background-image: url(../img/motos/shotgun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}

#shotgun:hover{
     background-size: 120%;
}

#shotgun:hover #txt-shotgun{
    visibility: visible;
    opacity: 1;
}

#newHimalayan{
    background-image: url(../img/motos/newhimalayan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}

#newHimalayan:hover{
     background-size: 120%;
}

#newHimalayan:hover #newHimalayan-txt{
    visibility: visible;
    opacity: 1;
}

#interceptor{
    background-image: url(../img/motos/interceptor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#interceptor:hover{
     background-size: 120%;
}

#interceptor:hover #interceptor-txt{
    visibility: visible;
    opacity: 1;
}

#continental{
    background-image: url(../img/motos/continental.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#continental:hover{
     background-size: 120%;
}

#continental:hover #continental-txt{
    visibility: visible;
    opacity: 1;
}

#classic{
    background-image: url(../img/motos/classic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#classic:hover{
     background-size: 120%;
}

#classic:hover #classic-txt{
    visibility: visible;
    opacity: 1;
}

#superMeteor{
    background-image: url(../img/motos/supermeteor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#superMeteor:hover{
     background-size: 120%;
}

#superMeteor:hover #superMeteor-txt{
    visibility: visible;
    opacity: 1;
}

#meteor{
    background-image: url(../img/motos/meteor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#meteor:hover{
     background-size: 120%;
}

#meteor:hover #meteor-txt{
    visibility: visible;
    opacity: 1;
}

#hunter{
    background-image: url(../img/motos/hunter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition:ease 0.5s;
    position: relative;
}
#hunter:hover{
     background-size: 120%;
}

#hunter:hover #hunter-txt{
    visibility: visible;
    opacity: 1;
}

/*seção ajude a comunidade*/
.ajude{
    background-image: url(../img/intro/ajude.jpg);
    background-position: center bottom 30%;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center ;
    width: 100%;
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.ajude h1{
    text-align: justify;
    padding: 40px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 29px;
    
}


/*footer*/
footer{
    background-color: #e53617;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.footerLinks{
    gap: 7px;
}
footer small{
    color: white;
    margin-top: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footerLinks a{
    text-decoration: none;
    color: white;
}